<!DOCTYPE html>
<html lang="es">

<head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>{% block title %}{% endblock%} - Importadores</title>
    {% endblock %}
</head>

<body>

    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-item"><a href="/">Inicio</a></li>
            <li class="nav-item"><a href="#">Extensímetros</a></li>
            <li class="nav-item"><a href="#">Células de presión</a></li>
            <li class="nav-item"><a href="#">Inclinómetros</a></li>
            <li class="nav-item"><a href="#">Nivelación</a></li>
        </ul>
    </nav>

    <div id="content" class="content">{% block content %}{% endblock %}</div>

    <div id="footer" class="footer">
        {% block footer %}
        &copy; Copyright 2023 by <a href="https://www.ofiteco.com/" target="_blank">Ofiteco</a>
        {% endblock %}
    </div>

</body>

</html>