{% extends "base.html" %}

{% block title %}
Inicio
{% endblock %}

{% block content %}

<div class="w3-card-4">
    <header class="w3-container w3-dark-gray">Instrucciones Importador</header>

    <div class="w3-container">
        <ol>
            <li>Elegir, en la barra superior, el tipo de instrumento asociado a los datos que se desean importar.</li>
            <li>En algunos casos, es posible introducir los datos a partir de un formulario y de un fichero Excel con formato pre-fijado. En otros casos, sólo es posible hacerlo con el fichero Excel de formato pre-fijado.</li>
            <li>En cada una de las secciones, se ofrece una plantilla Excel con el formato pre-fijado de importación de datos.</li>
            <li>El importador muestra el resultado de la importación, junto con el histórico.</li>
            <li>El resultado se puede aceptar o guardar para aceptarlo más adelante.</li>
            <li>Al aceptar, el importador devuelve el archivo CSV para importar a <a href="https://metrolima.acpofiteco.com/index.php?url=/usuarios/inicio" target="_blank">Tunneldata</a>.</li>
            <li>Adicionalmente, el importador devuelve un archivo resumen de la importación para su archivo.</li>
        </ol>
    </div>
</div>

{% endblock %}